doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description', content='')
  meta(name='author', content='')
  title Login
  // Custom fonts for this template
  link(href='vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')
  // Custom styles for this template
  link(href='css/sb-admin-2.min.css', rel='stylesheet')
.container
  // Outer Row
  .row.justify-content-center
    .col-xl-6.col-lg-12.col-md-9
      .card.o-hidden.border-0.shadow-lg.my-5
        .card-body.p-0
          // Nested Row within Card Body
          .row
            .col-lg-12.d-none.d-lg-block
            .col-lg-12
              .p-5
                .text-center
                  h1.h4.text-gray-900.mb-4 &#xD658;&#xC601;&#xD569;&#xB2C8;&#xB2E4;!!
                form.user
                  .form-group
                    input#InputEmail.form-control.form-control-user(type='email', name='InputEmail', aria-describedby='emailHelp', placeholder='Enter Email Address...')
                  .form-group
                    input#InputPassword.form-control.form-control-user(type='password', name='InputPassword', placeholder='Password')
                  .form-group
                    .custom-control.custom-checkbox.small
                      input#RememberMeCheck.custom-control-input(type='checkbox', name='RememberMeCheck')
                      label.custom-control-label(for='customCheck') Remember Me
                  a.btn.btn-primary.btn-user.btn-block(href='index.html')
                    | &#xB85C;&#xADF8;&#xC778;
                  hr
                  a.btn.btn-google.btn-user.btn-block(href='index.html')
                    i.fab.fa-google.fa-fw
                    |  Login with Google
                  a.btn.btn-facebook.btn-user.btn-block(href='index.html')
                    i.fab.fa-facebook-f.fa-fw
                    |  Login with Facebook
                hr
                .text-center
                  a.small(href='forgot-password.html') &#xBE44;&#xBC00;&#xBC88;&#xD638; &#xCC3E;&#xAE30;
                .text-center
                  a.small(href='register.html') &#xD68C;&#xC6D0; &#xAC00;&#xC785;
// Bootstrap core JavaScript
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
// Core plugin JavaScript
script(src='vendor/jquery-easing/jquery.easing.min.js')
// Custom scripts for all pages
script(src='js/sb-admin-2.min.js')
