<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Main</title>
  <!-- Custom fonts for this template-->
  <link href="../../public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../../public/css//sb-admin-2.min.css" rel="stylesheet">
 <!-- Custom styles for this page -->
 <link href="../../public/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3"></div>
      </a>

      <!-- Divider -->

      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMyInfo" aria-expanded="true"
          aria-controls="collapseMyInfo">

          <span>내 정보</span>
        </a>
        <div id="collapseMyInfo" class="collapse" aria-labelledby="headingMyInfo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 rounded" style="text-align: center;">
            <h6 class="collapse-header">MY INFO</h6>
            <img src="https://cf-fpi.everytime.kr/0.png" class="picture">
            <p class="my-info-nickname">숭실김성용</p>
            <p class="collapse-item">김성용</p>
            <p class="collapse-item">jhsy0507</p>
          </div>
        </div>
      </li>
      <!-- Nav Item - Dashboard -->



      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        카테고리
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCircle" aria-expanded="true"
          aria-controls="collapseCircle">

          <span>동아리</span>
        </a>
        <div id="collapseCircle" class="collapse" aria-labelledby="headingCircle" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">CIRCLE</h6>
          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStudy" aria-expanded="true"
          aria-controls="collapseStudy">

          <span>스터디</span>
        </a>
        <div id="collapseStudy" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">STUDY</h6>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMeeting"
          aria-expanded="true" aria-controls="collapseMeeting">

          <span>미팅</span>
        </a>
        <div id="collapseMeeting" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">MEETING</h6>
          </div>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>메인</span></a>
      </li>
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <li class="nav-item dropdown no-arrow">
                <h6 class="nav-link m-0 font-weight-bold text-primary">모두 여기로 모여라!</h6>
            </li>


            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">김성용</span>
                <img class="img-profile rounded-circle" src="https://cf-fpi.everytime.kr/0.png">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
         
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">모임 찾기</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                  style="overflow:hidden;">
                  <thead>
                    <tr style="cursor:pointer;" onClick=" location.href='#' " onMouseOver=" indow.status = '#' "
                      onMouseOut=" window.status = '' ">
                      <th>모임 이름</th>
                      <th>간단 소개</th>
                      <th>조회 수</th>
                      <th>회원 수</th>
                      <th>게시일</th>
                      <th>카테고리</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr style="cursor:pointer;" onClick=" location.href='#' " onMouseOver=" indow.status = '#' "
                      onMouseOut=" window.status = '' ">
                      <th>모임 이름</th>
                      <th>카테고리</th>
                      <th>조회 수</th>
                      <th>회원 수</th>
                      <th>게시일</th>
                      <th>카테고리</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr style="cursor:pointer;" onClick=" location.href='#' " onMouseOver=" indow.status = '#' "
                      onMouseOut=" window.status = '' ">
                      <td>토익 스터디</td>
                      <td>함께 토익 공부 하실분 구해요~~</td>
                      <td>120</td>
                      <td>5</td>
                      <td>2020/04/25</td>
                      <td>스터디, 토익</td>
                    </tr>
                    <tr style="cursor:pointer;" onClick=" location.href='#' " onMouseOver=" indow.status = '#' "
                      onMouseOut=" window.status = '' ">
                      <td>술 동아리</td>
                      <td>음주하면서 친목을 다져요!</td>
                      <td>230</td>
                      <td>20</td>
                      <td>2020/09/25</td>
                      <td>친목, 음주</td>
                    </tr>
                    <tr style="cursor:pointer;" onClick=" location.href='#' " onMouseOver=" indow.status = '#' "
                      onMouseOut=" window.status = '' ">
                      <td>CCS</td>
                      <td>숭실대학교 중앙 축구 동아리</td>
                      <td>560</td>
                      <td>12</td>
                      <td>2020/02/05</td>
                      <td>축구, 스포츠</td>
                    </tr>
                    <tr style="cursor:pointer;" onClick=" location.href='#' " onMouseOver=" indow.status = '#' "
                      onMouseOut=" window.status = '' ">
                      <td>Jazzle</td>
                      <td>숭실대 여자 댄스 동아리</td>
                      <td>513254</td>
                      <td>62</td>
                      <td>2020/03/15</td>
                      <td>댄스</td>
                    </tr>
                    <tr style="cursor:pointer;" onClick=" location.href='#' " onMouseOver=" indow.status = '#' "
                      onMouseOut=" window.status = '' ">
                      <td>코딩 스터디</td>
                      <td>C, C++, JAVA, Python 함께 공부 하실분</td>
                      <td>132</td>
                      <td>5</td>
                      <td>2020/04/11</td>
                      <td>스터디, 코딩</td>
                    </tr>
                    <tr style="cursor:pointer;" onClick=" location.href='#' " onMouseOver=" indow.status = '#' "
                      onMouseOut=" window.status = '' ">
                      <td>맛집 투어</td>
                      <td>서울 곳곳 맛집 투어 동아리!</td>
                      <td>1202</td>
                      <td>342</td>
                      <td>2020/01/02</td>
                      <td>친목, 맛집, 먹방</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <a href="#">이용약관 </a>
            <span>|</span>
            <a href="#">개인정보처리방침 </a>
            <span>|</span>
            <a href="#">커뮤니티이용규칙 </a>
            <span>|</span>
            <a href="#">공지사항 </a>
            <span>|</span>
            <a href="#">문의하기 </a>
            </br>
            <span>Copyright &copy; 김가네</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">정말 나가시곘습니까?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">모든 작업을 마쳤으면 아래 로그아웃 버튼을 누르시오.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-primary" href="login.html">로그아웃</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../../public/vendor/jquery/jquery.min.js"></script>
  <script src="../../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../../public/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../../public/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../../public/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="../../public/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../../public/js/demo/datatables-demo.js"></script>

</body>

</html>
